name: HoloAutoUpdate
on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:
jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' # バージョンを少し上げました
      - name: Install
        run: pip install requests google-genai # ここを最新版に変更
      - name: Run
        env:
          HOLODEX_API_KEY: ${{ secrets.HOLODEX_API_KEY }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python main.py
